aiohttp==3.9.5
aiosignal==1.3.1
Arpeggio==2.0.2
async-timeout==4.0.3
attrs==23.2.0
dill==0.3.7
frozenlist==1.4.1
grpcio==1.60.1
idna==3.6
multidict==6.0.4
parver==0.5
protobuf==4.25.1
pulumi==3.122.0
pulumi_aws==6.44.0
pulumi_cloudflare==5.33.1
pulumi_github==6.2.2
pulumi_nomad==2.3.0
pulumi-oci==2.1.0
pulumi_random==4.16.3
pulumi_tls==5.0.4
pulumiverse-sentry==0.0.8
PyYAML==6.0.1
semver==2.13.0
six==1.16.0
yarl==1.9.4
